<%
local api = require "luci.passwall.api"
-%>
<script type="text/javascript">
	//<![CDATA[
	var first_load_done = {};

	function scrollToBottom(log_textarea) {
		log_textarea.scrollTop = log_textarea.scrollHeight;
	}

	function showLog(type) {
		["program", "core"].forEach(function(name) {
			document.getElementById(name + "_log").style.display = name == type ? "block" : "none";
			document.getElementById(name + "_log_tab").className = name == type ? "cbi-button cbi-button-apply" : "cbi-button";
		});
	}

	function clearlog(type) {
		var url = type == "core" ? '<%=api.url("clear_core_log")%>' : '<%=api.url("clear_log")%>';
		XHR.get(url, null, function(x) {
			var log_textarea = document.getElementById(type + "_log_textarea");
			if (x && x.status == 200 && log_textarea) {
				log_textarea.value = "";
				scrollToBottom(log_textarea);
			}
		});
	}

	function pollLog(type, url) {
		XHR.poll(5, url, null, function(x) {
			if (x && x.status == 200) {
				var log_textarea = document.getElementById(type + "_log_textarea");
				var wasBottom = (log_textarea.scrollTop + log_textarea.clientHeight >= log_textarea.scrollHeight - 10);
				log_textarea.value = x.responseText;
				if (!first_load_done[type] || wasBottom) {
					scrollToBottom(log_textarea);
					first_load_done[type] = true;
				}
			}
		});
	}

	pollLog("program", '<%=api.url("get_log")%>');
	pollLog("core", '<%=api.url("get_core_log")%>');
	//]]>
</script>
<fieldset class="cbi-section" id="_log_fieldset">
	<input id="program_log_tab" class="cbi-button cbi-button-apply" type="button" onclick="showLog('program')" value="<%:Program Logs%>" />
	<input id="core_log_tab" class="cbi-button" type="button" onclick="showLog('core')" value="<%:Core Logs%>" />
	<div id="program_log" style="margin-top: 10px;">
		<input class="btn cbi-button cbi-button-remove" type="button" onclick="clearlog('program')" value="<%:Clear logs%>" />
		<textarea id="program_log_textarea" class="cbi-input-textarea" style="width: 100%;margin-top: 10px;" data-update="change" rows="40" wrap="off" readonly="readonly"></textarea>
	</div>
	<div id="core_log" style="display: none;margin-top: 10px;">
		<input class="btn cbi-button cbi-button-remove" type="button" onclick="clearlog('core')" value="<%:Clear logs%>" />
		<textarea id="core_log_textarea" class="cbi-input-textarea" style="width: 100%;margin-top: 10px;" data-update="change" rows="40" wrap="off" readonly="readonly"></textarea>
	</div>
</fieldset>
